* {
    font-size: large;
}

h1 {
    text-align: center;
    margin-bottom: -45px;
    margin-right: 7vw;
    font-size: 40px;
    color: rgb(45, 92, 244);
    text-shadow: 2px 2px 2px black;
}

.main {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background-color: rgb(185, 141, 141);
    height: 400px;
    width: 318px;
    display: flex;
    margin-top: 10vh;
    margin-left: 35vw;
    border-radius: 20px;

}

.btn {
    height: 50px;
    display: flex;
    margin: 20px;


}

.number {
    width: 100%;
    cursor: pointer;
    height: 50px;
    margin-left: 2px;
    margin-right: 2px;
    background-color: rgb(41, 40, 40);
    color: white;

    border-radius: 10px;
    box-shadow: 1px 1px 0px 1px;
}

.clear {
    cursor: pointer;
    margin-top: 10px;
    height: 45px;
    border-radius: 50%;
    background-color: rgb(233, 69, 69);
}

.screen {
    width: 95%;
    height: 35px;
    padding-top: 10px;
    border-radius: 50px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.number:hover {
    background-color: aqua;
    color:rgb(41, 40, 40);
}

.calculatorform {
    height: 400px;
    width: 318px;
}

form {

    width: 250px;
}

#equal {
    background-color: rgb(240, 145, 240);
}

.symbol {
    background-color: rgb(190, 241, 183);
    color: black;
}